@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700');

.centered 
  margin-left: auto;
  margin-right: auto;

.network 
  cursor: pointer;

.connected 
  background-color: green;
  border-radius: 1em;
  width: 1em;
  height: 1em;

div.v-button-group
  button
    display: block
  button:not(:last-child)
    border-bottom: none

