@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700');

div.printer-screen
  white-space: pre
  font-family: 'Source Code Pro', monospace
  font-size: 12pt
  background-color: lightgray;
  width: 400px;
  margin: 10px auto;
  padding: 4px;
  display: inline-block;
  white-space nowrap;
  span 
    border: rgba(0, 0, 0, 0.25) 1px solid;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0 4px;
  img
    width: 9.5px

div.printer-screen-buttons
  vertical-align: top;
  margin-top: 7px;
